*~
.svn
.cvs
*.bak
*.swp
Thumbs.db
.DS_Store
*.log
vendor
node_modules

*.sublime-project
*.sublime-workspace

sql/XXXXX.sql
config/local-config.php
public_html/wp/
public_html/wp-content/uploads/
public_html/wp-content/blogs.dir/
public_html/wp-content/upgrade/
public_html/wp-content/backup-db/
public_html/wp-content/advanced-cache.php
public_html/wp-content/wp-cache-config.php
public_html/wp-content/cache/
public_html/wp-content/cache/*
public_html/wp-content/cache/supercache/*
public_html/wp-content/backups/
public_html/wp-content/debug.log
public_html/wp-content/plugins/*
public_html/wp-admin
public_html/wp-includes
public_html/wp-admin/*
public_html/wp-includes/*
public_html/sitemap.xml
public_html/sitemap.xml.gz
public_html/*.log
public_html/sitemap.xml
public_html/sitemap.xml.gz